.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.caja-img404{
   border: 3px;
   border-radius: 15px;
   box-shadow: 0 0 20px #ffffff;
   background-color: rgba(0, 0, 0, 0.76);
}

