

.navegador {
    background-color: #172857;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 30px;
    list-style: none;
    justify-content: center;
}

.botones {
    margin: 0;
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding: 0;

}

.botones:hover{
    background-color: #61a6faa1;
    padding: 6px 0;
}

.nav-item{
    display: inline-block;
    margin: 0 20px;
    padding: 0;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.caja-img404{
   border: 3px solid #60a5fa;
   border-radius: 15px;
   box-shadow: 0 0 20px #60a5fa;
   background-color: rgba(0, 0, 0, 0.76);
}

