.fotos-personalizadas-prod{
    height: 600px;
    width: 800px;
    border-radius: 10px;
}

.texto-pers{
    padding-left: 100px;
    padding-right: 100px;
}

.centrado{
    text-align: center;
}

.caja-datos-produccion{
   display: flex;
   justify-content: center;
   padding: 20px;
   margin: 30px auto;
   border: 1px;
   border-radius: 15px;
   box-shadow: 0 0 20px #ffffffde;
   background-color: rgba(0, 0, 0, 0.616);

}

.caja-titulo{
   display: flex;
   justify-content: center;
   width: 50%;
   padding: 0;
   margin: 30px auto;
   border: 1px;
   border-radius: 15px;
   box-shadow: 0 0 20px #ffffffde;
   background-color: rgba(0, 0, 0, 0.616);
}