.fotos-personalizadas-prod{
    height: 500px;
    width: 600px;
    border-radius: 10px;
}

.texto-pers{
    padding-left: 100px;
    padding-right: 100px;
}

.centrado{
    text-align: center;
}

.contenedor-datos-produccion{
    
    display: flex;
    flex-direction: row;
    width: 1200px;
    gap: 60px;
    justify-content: center;
   margin: 0 auto;
   padding: 20px;
    
}

   h2{
        margin: 0;
        padding-top: 20px;
        
    }

.caja-datos-produccion2{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   text-align: justify;
   transition: 0.2s ease-in-out;
   width: 100%;
   padding: 10px 30px;
   margin: 20px auto;
   border: 1px;
   border-radius: 15px;
   box-shadow: 0 0 20px #ffffffde;
   background-color: rgba(0, 0, 0, 0.76);
   
}

   figure{
      margin: 0;
      padding-top: 50px;
      display: flex;
      justify-content: center;
      width: 100%;

    }

.caja-datos-produccion2:hover{
    scale: 1.1;
}


