/* Mobile */
h1{
    font-size: 2rem;
}

.fotos-endurance-agujero-negro{
    height: auto;
    width: 100%;
    border-radius: 5px;
    
    
}


.foto-mann-cooper{
     height: auto;
    width: 100%;
    border-radius: 5px;
    
}


.foto-murph-cooper{
    height: auto;
    width: 100%;
    border-radius: 5px;
    
}

.centrado{
    text-align: center;
}

.texto-pers{
    padding: 0 1rem;
}

.caja-items{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.25rem;
   width: 90%;
   padding: 1.5rem;
   margin: 1.5rem auto;
   border: 1px;
   overflow: auto;
   border-radius: 15px;
   box-shadow: 0 0 20px #ffffffde;
   background-color: rgba(0, 0, 0, 0.76);
}

.caja-items h2{
    font-size: 1.5rem;
}

.contenedor-texto{
float: left;
text-align: justify;
width: 100%;
}

/* Desktop */

@media screen and (min-width: 1024px){
    .fotos-endurance-agujero-negro{
    height: 25rem;
    width: 20vw;
    border-radius: 5px;
    
}


.foto-mann-cooper{
    height: 600px;
    width: 30vw;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}


.foto-murph-cooper{
    height: 37.5rem;
    width: 25vw;
    border-radius: 5px;
}

.centrado{
    text-align: center;
}

.texto-pers{
    padding-left: 6.25rem;
    padding-right: 6.25rem;
}

.caja-items{
   display: flex;
   align-items: center;
   gap: 1.25rem;
   width: 50vw;
   padding: 1.875rem;
   margin: 1.875rem auto;
   border: 1px;
   overflow: auto;
   border-radius: 15px;
   box-shadow: 0 0 20px #ffffffde;
   background-color: rgba(0, 0, 0, 0.76);
}

.contenedor-texto{
float: left;
text-align: justify;
width: 100%;
}

}





