.fotos-endurance-agujero-negro{
    height: 400px;
    width: 500px;
    border-radius: 5px;
    
}


.foto-mann-cooper{
    height: 600px;
    width: 500px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}


.foto-murph-cooper{
    height: 600px;
    width: 500px;
    border-radius: 5px;
}

.centrado{
    text-align: center;
}

.texto-pers{
    padding-left: 100px;
    padding-right: 100px;
}

.caja-items{
   display: flex;
   align-items: center;
   gap: 20px;
   width: 60vw;
   padding: 30px;
   margin: 30px auto;
   border: 1px;
   overflow: auto;
   border-radius: 15px;
   box-shadow: 0 0 20px #ffffffde;
   background-color: rgba(0, 0, 0, 0.76);
}

.contenedor-imagen{
   overflow: auto;

}

.contenedor-texto{
float: left;
text-align: justify;
width: 50%;
}







