.fotos-endurance-agujero-negro{
    height: 700px;
    width: 900px;
    border-radius: 5px;
    
}


.foto-mann-cooper{
    height: 500px;
    width: 900px;
    border-radius: 5px;
}


.foto-murph-cooper{
    height: 700px;
    width: 100%;
    border-radius: 5px;
}

.centrado{
    text-align: center;
}

.texto-pers{
    padding-left: 100px;
    padding-right: 100px;
}

.caja-items{
   justify-content: center;
   width: 80%;
   padding: 30px;
   margin: 30px auto;
   border: 1px;
   border-radius: 15px;
   box-shadow: 0 0 20px #ffffffde;
   background-color: rgba(0, 0, 0, 0.76);
}



#caja-1{
   height: 700px;
   width: 700px;
   margin: 3% auto;
}

#caja-2{
   height: 500px;
   width: 900px;
   margin: 3% auto;
 
}

#caja-3{
   height: 700px;
   width: 900px;
   margin: 3% auto;

}

#caja-4{
   height: 700px;
   width: 900px;
   margin: 3% auto;

}

#caja-5{
   height: 700px;
   width: 80%;
   margin: 3% auto;


}

