.texto-pers{
    padding-left: 100px;
    padding-right: 100px;
}

.contenedor{
    display: flex;
    gap: 10px;
}

.caja-curiosidades{
   display: flex;
   align-items: center;
   gap: 20px;
   width: 100%;
   padding: 20px 30px;
   margin: 30px auto;
   border: 3px solid #60a5fa;
   border-radius: 15px;
   box-shadow: 0 0 20px #61a6fab7;
   background-color: rgba(0, 0, 0, 0.788);
}

.caja-titulo{
   display: flex;
   justify-content: center;
   width: 60%;
   padding: 0;
   margin: 30px auto;
   border: 3px solid #60a5fa;
   border-radius: 15px;
   box-shadow: 0 0 20px #61a6fab7;
   background-color: rgba(0, 0, 0, 0.788);
}