.texto-pers{
    padding-left: 100px;
    padding-right: 100px;
}

.contenedor{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    
    h2{
        margin: 0;
    }
}

.caja-curiosidades{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 100%;
   padding: 20px 30px;
   margin: 30px auto;
   border: 1px;
   border-radius: 15px;
   box-shadow: 0 0 20px #ffffffde;
   background-color: rgba(0, 0, 0, 0.76);

}

.caja-titulo{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 60%;
   padding: 0;
   margin: 30px auto;
   border: 1px;
   border-radius: 15px;
   box-shadow: 0 0 20px #ffffffde;
   background-color: rgba(0, 0, 0, 0.76);
}