.fotos-personajes-pers{
    height:400px;
    width: 500px;
    border-radius: 20px;
}

.texto-pers{
    padding-left: 100px;
    padding-right: 100px;
}

.contenedor-personajes{
   display: flex;
   flex-direction: row;
   gap: 60px;
   justify-content: center;
   width: 60%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
 
}




.caja-personajes {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   text-align: justify;
   transition: 0.2s ease-in-out;
   gap: 20px;
   width: 100%;
   padding: 20px 40px 20px 40px;
   margin: 30px auto;
   border: 1px;
   border-radius: 15px;
   box-shadow: 0 0 20px #ffffffde;
   background-color: rgba(0, 0, 0, 0.76);

   figure{
      margin: 0;
      padding-top: 50px;
      display: flex;
      justify-content: center;
      width: 100%;

    }

}

    .caja-personajes:hover{
        scale: 1.1;
    }


.caja-titulo{
   display: flex;
   justify-content: center;
   width: 30%;
   padding: 0;
   margin: 30px auto;
   border: 1px;
   border-radius: 15px;
   box-shadow: 0 0 20px #ffffffde;
   background-color: rgba(0, 0, 0, 0.616);

}