.fotos-personajes-pers{
    height:500px;
    width: 900px;
    border-radius: 20px;
}

.texto-pers{
    padding-left: 100px;
    padding-right: 100px;
}



.caja-personajes{
   display: flex;
   justify-content: center;
   gap: 40px;
   padding: 20px;
   margin: 30px auto;
   border: 1px;
   border-radius: 15px;
   box-shadow: 0 0 20px #ffffffde;
   background-color: rgba(0, 0, 0, 0.616);

}


.caja-titulo{
   display: flex;
   justify-content: center;
   width: 30%;
   padding: 0;
   margin: 30px auto;
   border: 1px;
   border-radius: 15px;
   box-shadow: 0 0 20px #ffffffde;
   background-color: rgba(0, 0, 0, 0.616);

}